* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 1.8rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 1.5rem 4.5rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

/* nav section with hero */
.main-head {
  background: #131c27;
  color: white;
}

nav {
  min-height: 8vh;
  padding: 2rem;
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  flex: 4 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

nav ul {
  display: flex;
  list-style: none;
  flex: 1 1 30rem;
  justify-content: space-between;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url('./img/landing-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

@media screen and (max-width: 778px) {
  nav {
    text-align: center;
  }
  #logo {
    padding-bottom: 2rem;
  }
  .hero h2 {
    font-size: 3.8rem;
  }
  .hero h3 {
    font-size: 1.8rem;
  }
}